.nav-menu {
  text-align: right;
}
.nav-spacing {
  margin: 0 0 0 10px;
}
.header {
  text-align: center;
  margin: 0 0 80px;
}
.image-link {
  text-decoration:none;
}
td {
  padding: 1px 10px 1px 0;
}
#founders {

}
