.nav-menu {
  text-align: right;
}
.nav-spacing {
  margin: 0 0 0 10px;
}
.header {
  text-align: center;
  margin: 0 0 80px;
}
.image-link {
  text-decoration:none;
}
.td-padding {
  padding: 10px;
}
#founders {
  
}
